@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Roboto+Condensed&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

/* set up the body */
body {
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border: 0.25em solid black;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: peru;
    border: 0.25em solid rgb(15, 15, 15);
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: #f1f1f1 peru;
        scrollbar-width: thin;
    }
}

main {
    background-color: cornsilk;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-innter {
    padding: 100px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Endsars.png),
        url(../assets/danfo.png),
        url(../assets/filahausa.png),
        url(../assets/gangan.png),
        url(../assets/mado.png),
        url(../assets/igbocap.png);
    background-repeat: no-repeat;
    background-position: right top,
        right bottom,
        left top,
        left bottom,
        center left,
        center right;
    background-size: 150px;

}

#mc_embed_signup {
    font-family: "Montserrat", sans-serif;
    clear: left;
    width: 600px;
 
    padding: 10px;
}

#mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subscribe {
    font-weight: 700;
}

.subtitle-paragraph {
    font-weight: 400;

}

.subtitle {
    font-weight: 700;

}

.logo {
    width: 250px;
    height: 200px;
    margin-bottom: 1em;
}



@media screen and (min-width: 320px) and (max-width: 786px) {
    .logo {
        width: 200px;
        height: 150px;
    }

    main {
        height: 100vh;
        width: 100%;
    }

    #mc_embed_signup {
        font-family: "Montserrat", sans-serif;
        clear: left;
        width: 100%;
        height: 100%;
        padding: 0.2rem;
    }

    .main-innter {
        padding: 3px;
    background-image: none;
       
    
    }
}

.year {
    color: orangered;
    font-weight: 900;
}

.copyright {
    text-align: center;
    padding: 3px;
}

.copyright a {
    text-decoration: none;
}

.designer {
    font-family: "Montserrat",
    sans-serif;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: orangered;
    font-weight: 900;
}


